.scheduleWidget{
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.scheduleWidget >.infos{
	display: flex;
	align-items: center;
	gap:10px;

	
}
.scheduleWidget >.infos >.date{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ededed;
	border-radius: 4px;
	width: 55px;
	min-width: 55px;
	height: 60px;
}
.scheduleWidget >.infos >.date >h1{
	font-size: 22px;
	color:#1C1F37;
	font-weight: 600;
	padding-top: 3px;
}
.scheduleWidget >.infos >.date >h2{
	font-size: 14px;
	color: #808080;
	font-weight: 600;
	padding-top: 4px;
}

.scheduleWidget >.infos >.texts >h1{
	font-size: 18px;
	font-weight: 600;
	color:#1C1F37;
}
.scheduleWidget >.infos >.texts >h2{
	font-size: 14px;
	font-weight: 400;
	color:#8e8f9b;
	padding-top: 7px;
}

.scheduleWidget >.completition{
	display: flex;
	align-items: center;
	margin-top: 10px;
	color: #8e8f9b;
	font-size: 14px;
	gap:14px;
}

.scheduleWidget .completition >.progressbar{
	background: #e7e7e7;
	width: 95px;
	height:5px;
	border-radius: 40px;
	overflow: hidden;
}

.scheduleWidget .completition >.progressbar >.progression{
	height:100%;
	border-radius: 40px;
	background: #51CBFF;
}

